Package: hostapd-dbgsym
Source: wpa
Version: 2:2.4-1.0nosystemd2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian wpasupplicant Maintainers <pkg-wpa-devel@lists.alioth.debian.org>
Installed-Size: 2038
Depends: hostapd (= 2:2.4-1.0nosystemd2)
Section: debug
Priority: extra
Homepage: http://w1.fi/wpa_supplicant/
Description: Debug symbols for hostapd
Build-Ids: 8a5d065e9f14921eec949b72f0632cecf820134c afb01d217ec1d2550f80de489844190a39ebd2e0
